<template>
    <div id="app">
        <floatmenu ref="contextmenu">
            <template v-slot="{item}">
                <ul>
                    <li v-for="(i, index) of item" :key="index">{{i}}</li>
                    <li>submenu
                        <ul>
                            <li v-for="(i, index) of item" :key="index">{{i}}</li>
                        </ul>
                    </li>
                </ul>
            </template>
        </floatmenu>
        <p v-on:contextmenu.prevent="$refs.contextmenu.open($event, testdata)">Right click me</p>
        <p style="text-align: right;" v-on:contextmenu.prevent="$refs.contextmenu.open($event, testdata)">Right click me</p>
    </div>
</template>

<script>

export default {
    name: 'app',
    data: function()
    {
        return {
            testdata: [
                'new',
                'edit',
                'delete'
            ]
        };
    }
}
</script>