<template>
    <div ref="lb_float_menu" :style="'top: '+top+'; bottom: '+bottom+'; left: '+left+'; display: '+display+'; --submenu-position: '+submenuPosition+';'" class="right-click-menu" v-on:mouseleave="evtclose">
        <div>
            <slot :item="item"></slot>
        </div>
    </div>
</template>

<script>

import ClickOutside from 'vue-click-outside';

export default
{
    name: 'lb-vue-floatmenu',
    directives: {
        'click-outside': ClickOutside,
    },
    data()
    {
        return {
            top: 'auto',
            bottom: 'auto',
            left: 0,
            display: 'none',
            item: null,
            submenuPosition: '249px',
        };
    },
    props: [],
    mounted()
    {
        const me = this;

        window.addEventListener('scroll', me.close);
    },
    watch:
    {

    },
    methods:
    {
        open(e, item)
        {
            const me = this;
            e.preventDefault();
            e.stopPropagation();

            me.display = '';

            me.item = item;

            if (e.clientY > window.innerHeight / 2)
            {
                me.bottom = `${window.innerHeight - e.clientY - 5}px`;
                me.top = 'auto';
            }
            else
            {
                me.top = `${e.clientY - 5}px`;
                me.bottom = 'auto';
            }

            if (e.clientX + 300 > window.innerWidth)
            {
                me.left = `${e.clientX - 5 - 240}px`;
                me.submenuPosition = '-249px';
            }
            else
            {
                me.left = `${e.clientX - 5}px`;
                me.submenuPosition = '249px';
            }
        },
        close()
        {
            const me = this;

            me.display = 'none';
        },
        evtclose(evt)
        {
            const me = this;

            if (evt.relatedTarget == null)
            {
                return;
            }

            me.close();
        },
    },
};
</script>

<style scoped="">

.right-click-menu {
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    position: fixed;
    min-width: 250px;
    z-index: 999999;
}

.right-click-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 500;
}

.right-click-menu ul li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 5px;
    position: relative;
    cursor: pointer;
}

.right-click-menu div > ul > li::before {
    position:absolute;
    content:"";
    left: -15px;
    right: -15px;
}
.right-click-menu div > ul > li:first-child::before {
    bottom: 0px;
    top: -30px;
}
.right-click-menu div > ul > li:last-child::before{
    top: 0px;
    bottom: -30px;
}
.right-click-menu div > ul > li:not(:first-child):not(:last-child)::before {
    top: 0px;
    bottom: 0px;
}
.right-click-menu ul li svg {
    position: absolute;
    right: 5px;
    top: 5px;
}

.right-click-menu ul li:last-child {
    border-bottom: none;
}

.right-click-menu ul li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.right-click-menu ul li ul {
    display: none;
    position: absolute;
    top: 0px;
    left: var(--submenu-position);
    width: 250px;
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.right-click-menu ul li ul li {
    color: #000;
}

.right-click-menu ul li:hover > ul {
    display: block;
}

.right-click-menu ul li:hover ul::before {
    content: "";
    position:absolute;
    padding: 100px;
    z-index: -500;
    top: -50px;
    bottom: -50px;
    left: -30px;
    right: -30px;
}
</style>

